<!DOCTYPE html>
<html>
<head>
    <title>Error - Linux Process Monitor</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="error-container">
        <h1>Oops! Something went wrong</h1>
        <div class="error-message">
            <%= message %>
        </div>
        <% if (error.stack && process.env.NODE_ENV === 'development') { %>
            <div class="error-stack">
                <pre><%= error.stack %></pre>
            </div>
        <% } %>
        <a href="/" class="button">Go Back Home</a>
    </div>
</body>
</html>